body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #4999e4;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 1.5rem;
}

.weather-info {
    display: flex;
    justify-content: space-between;
}

.forecast {
    margin-top: 20px;
}

.forecast-list {
    display: flex;
    flex-wrap: wrap;
}

.forecast-item {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease; /* Add transition effect */
}

.forecast-item:not(:last-child) {
    margin-right: 10px;
}

.forecast-item p {
    margin: 0;
}

.forecast-item:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}

.forecast-item .icon {
    font-size: 48px;
    margin-left: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}